<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TPO_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Botonera</display-name>
    <servlet-name>Botonera</servlet-name>
    <servlet-class>servlet.Botonera</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Botonera</servlet-name>
    <url-pattern>/Botonera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecepcionPedido</display-name>
    <servlet-name>RecepcionPedido</servlet-name>
    <servlet-class>servlet.RecepcionPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecepcionPedido</servlet-name>
    <url-pattern>/RecepcionPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarPedido</display-name>
    <servlet-name>GenerarPedido</servlet-name>
    <servlet-class>servlet.GenerarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarPedido</servlet-name>
    <url-pattern>/GenerarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarFactura</display-name>
    <servlet-name>PagarFactura</servlet-name>
    <servlet-class>servlet.PagarFactura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarFactura</servlet-name>
    <url-pattern>/PagarFactura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarFacturas</display-name>
    <servlet-name>BuscarFacturas</servlet-name>
    <servlet-class>servlet.BuscarFacturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarFacturas</servlet-name>
    <url-pattern>/BuscarFacturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pagar</display-name>
    <servlet-name>Pagar</servlet-name>
    <servlet-class>servlet.Pagar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagar</servlet-name>
    <url-pattern>/Pagar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaVehiculosReparacion</display-name>
    <servlet-name>ListaVehiculosReparacion</servlet-name>
    <servlet-class>servlet.ListaVehiculosReparacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaVehiculosReparacion</servlet-name>
    <url-pattern>/ListaVehiculosReparacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MandarAlTaller</display-name>
    <servlet-name>MandarAlTaller</servlet-name>
    <servlet-class>servlet.MandarAlTaller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MandarAlTaller</servlet-name>
    <url-pattern>/MandarAlTaller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViajesPendientes</display-name>
    <servlet-name>ViajesPendientes</servlet-name>
    <servlet-class>servlet.ViajesPendientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViajesPendientes</servlet-name>
    <url-pattern>/ViajesPendientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MarcarEntregado</display-name>
    <servlet-name>MarcarEntregado</servlet-name>
    <servlet-class>servlet.MarcarEntregado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarcarEntregado</servlet-name>
    <url-pattern>/MarcarEntregado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntregaMercaderia</display-name>
    <servlet-name>EntregaMercaderia</servlet-name>
    <servlet-class>servlet.EntregaMercaderia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntregaMercaderia</servlet-name>
    <url-pattern>/EntregaMercaderia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Entregar</display-name>
    <servlet-name>Entregar</servlet-name>
    <servlet-class>servlet.Entregar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entregar</servlet-name>
    <url-pattern>/Entregar</url-pattern>
  </servlet-mapping>
</web-app>